<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="\helios-ot-server\src\test\resources\server\con"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/helios-spring-core/src/main/java/org/helios/spring/container/HeliosContainerMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-6"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.helios.spring.container.HeliosContainerMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-conf ./src/test/resources/server/conf&#13;&#10;-conf ${system_property:user.home}/hotdir&#13;&#10;-lib ${system_property:user.home}/hotdir&#13;&#10;-log4j ./src/test/resources/server/conf/log4j/log4j.xml&#13;&#10;-daemon"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="helios-ot-server"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dactivemq.base=/home/nwhitehead/libs/java/activemq/5.5.0/apache-activemq-5.5.0&#13;&#10;-Djava.rmi.server.hostname=localhost&#10;-Dorg.helios.application.name=HeliosOTServer"/>
</launchConfiguration>
