<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/helios-esper-cl/src/main/java/org/helios/espercl/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.helios.espercl.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-jmxurl service:jmx:rmi:///jndi/rmi://localhost:8003/jmxrmi"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="helios-esper-cl"/>
</launchConfiguration>
